%table.table
  %tr
    %th #
    %th Team Name
    %th Games
    %th Wins
    %th Losses
  - @teams.each do |team|
    %tr
      %td= team.id
      %td= link_to team.name, team_path(team)
      %td= team.matches.count
      %td= team.win_count
      %td= team.loss_count

