%h1= @team.name

%table.table
  %tr
    %th #
    %th Name
    %th Ave KDA
    %th Ave CK/CD
    %th Ave APM
  - @team.players.each do |player|
    %tr
      %td= player.id
      %td= player.name
      %td #{player.player_stats.average(:kills).to_f}/#{player.player_stats.average(:deaths).to_f}/#{player.player_stats.average(:assists).to_f}
      %td #{player.player_stats.average(:creep_kills).to_f}/#{player.player_stats.average(:creep_denies).to_f}
      %td= player.player_stats.average(:apm).to_f

