%h1= @team.name

%table.table
  %tr
    %th #
    %th Name
    %th Service
    %th # of Games
    %th Favorite Hero
    %th Ave KDA
    %th Ave CK/CD
    %th Ave Gold
    %th Ave APM
  - @team.players.each do |player|
    %tr
      %td= player.id
      %td= player.name
      %td= display_duration(player.matches.sum(:duration))
      %td= player.player_stats.count
      %td= player.favorite_hero.name if player.favorite_hero
      %td #{player.average_kills}/#{player.average_deaths}/#{player.average_assists}
      %td #{player.average_creep_kills}/#{player.player_stats.average_creep_denies}
      %td= player.average_gold
      %td= player.average_apm

