.row-fluid
  .span5.text-center
    %h1= @rivalry.team_1.name
    %h2= @rivalry.team_1.wins

  .span2.text-center

  .span5.text-center
    %h1= @rivalry.team_2.name
    %h2= @rivalry.team_2.wins

%h3.text-center Stats

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.current_average_apm
  .span2.text-center
    %h4 APM
  .span5.text-center
    %h4= @rivalry.team_2.current_average_apm

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.current_average_gold
  .span2.text-center
    %h4 Ave Gold
  .span5.text-center
    %h4= @rivalry.team_2.current_average_gold

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.current_average_kills
  .span2.text-center
    %h4 Ave Kills
  .span5.text-center
    %h4= @rivalry.team_2.current_average_kills

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.current_average_deaths
  .span2.text-center
    %h4 Ave Deaths
  .span5.text-center
    %h4= @rivalry.team_2.current_average_deaths

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.current_average_assists
  .span2.text-center
    %h4 Ave Assists
  .span5.text-center
    %h4= @rivalry.team_2.current_average_assists

%hr

%h3.text-center Overall Stats

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.historical_average_apm
  .span2.text-center
    %h4 APM
  .span5.text-center
    %h4= @rivalry.team_2.historical_average_apm

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.historical_average_gold
  .span2.text-center
    %h4 Ave Gold
  .span5.text-center
    %h4= @rivalry.team_2.historical_average_gold

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.historical_average_kills
  .span2.text-center
    %h4 Ave Kills
  .span5.text-center
    %h4= @rivalry.team_2.historical_average_kills

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.historical_average_deaths
  .span2.text-center
    %h4 Ave Deaths
  .span5.text-center
    %h4= @rivalry.team_2.historical_average_deaths

.row-fluid
  .span5.text-center
    %h4= @rivalry.team_1.historical_average_assists
  .span2.text-center
    %h4 Ave Assists
  .span5.text-center
    %h4= @rivalry.team_2.historical_average_assists

