.row-fluid
  .span5.text-center
    %h1= @vs_team.team_1.name
    %h2= @vs_team.team_1.wins

  .span2.text-center

  .span5.text-center
    %h1= @vs_team.team_2.name
    %h2= @vs_team.team_2.wins

.row-fluid
  .span5.text-center
    %h3= @vs_team.team_1.average_apm
  .span2.text-center
    %h3 APM
  .span5.text-center
    %h3= @vs_team.team_2.average_apm

.row-fluid
  .span5.text-center
    %h3= @vs_team.team_1.average_gold
  .span2.text-center
    %h3 Ave Gold
  .span5.text-center
    %h3= @vs_team.team_2.average_gold

.row-fluid
  .span5.text-center
    %h3= @vs_team.team_1.average_kills
  .span2.text-center
    %h3 Ave Kills
  .span5.text-center
    %h3= @vs_team.team_2.average_kills

.row-fluid
  .span5.text-center
    %h3= @vs_team.team_1.average_deaths
  .span2.text-center
    %h3 Ave Deaths
  .span5.text-center
    %h3= @vs_team.team_2.average_deaths

.row-fluid
  .span5.text-center
    %h3= @vs_team.team_1.average_assists
  .span2.text-center
    %h3 Ave Assists
  .span5.text-center
    %h3= @vs_team.team_2.average_assists
