= form_for match do |f|
  = f.label 'Match Name'
  = f.text_field :name

  %br
  Teams
  #team-matches-fields
    %ul
    = f.fields_for :team_matches do |ff|
      %li= ff.select :team_id, @teams.collect{|x| [x.name, x.id] }

  %br
  = f.submit "Save"
