%div{id: modal_id, class: 'modal hide fade', tab_index: '-1', role: 'dialog'}
  .modal-header
    %button.close{ data: {dismiss: "modal"}, aria: {hidden: 'true'} }
    %h3 Player Entry for #{representative.team.name}

  = form_for representative do |f|
    .modal-body
      = f.hidden_field :team_id
      = f.hidden_field :match_id

      %h4 General Stats
      .form-horizontal
        .control-group
          %label.control-label Player
          .controls
            = f.select :player_id, team.players.collect{|x| [x.name, x.id] }

        .control-group
          %label.control-label Hero
          .controls
            = f.select :hero_id, Hero.all.collect{|x| [x.name, x.id] }

        .control-group
          %label.control-label Kills
          .controls
            = f.text_field :kills

        .control-group
          %label.control-label Deaths
          .controls
            = f.text_field :deaths

        .control-group
          %label.control-label Assists
          .controls
            = f.text_field :assists

        .control-group
          %label.control-label Gold
          .controls
            = f.text_field :gold

        .control-group
          %label.control-label XP Earned
          .controls
            = f.text_field :experience

        .control-group
          %label.control-label APM
          .controls
            = f.text_field :apm

      %h4 Farm Stats
      .form-horizontal
        .control-group
          %label.control-label Creep Kills
          .controls
            = f.text_field :creep_kills

        .control-group
          %label.control-label Creep Denies
          .controls
            = f.text_field :creep_denies

    .modal-footer
      = link_to "Close", '#', class: 'btn', data: { dismiss: 'modal' }
      = f.submit("Save Changes", class: 'btn btn-primary')


