.row
  .span12
    %h1= @match.name

%hr

.row
  .span12
    #team_1_players
      Team 1
      = @match.team_1.name
      = form_for @match, method: 'patch' do |f|
        #players_matches-fields
          = f.fields_for :player_matches do |builder|
            = render 'player_match_fields', f: builder
          = link_to_add_fields "Add Player", f, :player_matches, {team_id: @match.team_1.id}
        = f.submit

%hr

.row
  .span12
    #team_2_players
      Team 2
      = @match.team_2.name
      = form_for @match, method: 'patch' do |f|
        #players_matches-fields
          = f.fields_for :player_matches do |builder|
            = render 'player_match_fields', f: builder
          = link_to_add_fields "Add Player", f, :player_matches, {team_id: @match.team_2.id}
        = f.submit

