.row
  .span12
    %h1= @match.name

%hr

.row
  .span12
    Team 1
    = @match.team_1.name
    = form_for @match, method: 'patch' do |f|
      #players_matches-fields
        = f.fields_for :player_matches do |builder|
          = render 'player_match_fields', f: builder
        = link_to_add_fields "Add Player", f, :player_matches
      
%hr

.row
  .span12
    Team 2
    = @match.team_2.name

