.row
  .span12
    %h1 Match Results
    %h2 #{@match.name.titleize}

%hr

.row-fluid
  .span12
    #team_1_players
      %h4 Team 1 : #{@match.team_1.name}

      %table.table
        %tr
          %th Player Name
          %th Hero
          %th Kills
          %th Deaths
          %th Assists
          %th Gold
        - @team_1_player_matches.each do |player_match|
          %tr
            %td= player_match.player.name
            %td= player_match.hero.name if player_match.hero
            %td= player_match.kills
            %td= player_match.deaths
            %td= player_match.assists
            %td= player_match.gold

      #players_matches-fields
        = link_to "Add Team 1 Player", '#team1Modal', role: "button", data: { toggle: "modal" }
        = render 'player_match_fields', modal_id: 'team1Modal', representative: @match.player_matches.build(team_id: @match.team_1.id)


    #team_2_players
      %h4 Team 2 #{@match.team_2.name}

      %table.table
        %tr
          %th Player Name
          %th Hero
          %th Kills
          %th Deaths
          %th Assists
          %th Gold
        - @team_2_player_matches.each do |player_match|
          %tr
            %td= player_match.player.name
            %td= player_match.hero.name if player_match.hero
            %td= player_match.kills
            %td= player_match.deaths
            %td= player_match.assists
            %td= player_match.gold

      #players_matches-fields
        = link_to "Add Team 2 Player", '#team2Modal', role: "button", data: { toggle: "modal" }
        = render 'player_match_fields', modal_id: 'team2Modal', representative: @match.player_matches.build(team_id: @match.team_2.id)

