.row
  .span12
    %h1 Match Name : #{@match.name.titleize}

%hr

.row
  .span12
    = form_for @match, method: 'patch' do |f|
      #team_1_players
        %h4 Team 1 : #{@match.team_1.name}

        %ul
          - @team_1_player_matches.each do |player_match|
            %li= player_match.player.name

        #players_matches-fields
          = link_to_add_fields "Add Player", f, :player_matches, {team_id: @match.team_1.id}


      #team_2_players
        %h4 Team 2 #{@match.team_2.name}

        %ul
          - @team_2_player_matches.each do |player_match|
            %li= player_match.player.name

        #players_matches-fields
          = link_to_add_fields "Add Player", f, :player_matches, {team_id: @match.team_2.id}, '$(this)'

      .actions
        %hr
        = f.submit("Save Team Roster", class: 'btn btn-primary')
