.row
  .span12
    %h1 Match Results
    %h2 #{@match.name.titleize}

%hr

.row-fluid
  .span12
    #team_1_players
      %h4
        Team 1 : #{@match.team_1.name}
        - if @match.winner.eql?(@match.team_1)
          (W)

      = render 'players_stats', player_stats: @team_1_player_stats

      - @team_1_player_stats.each do |player_stat|
        = render 'player_stat_fields', modal_id: "edit#{player_stat.id}", representative: player_stat, team: @match.team_1

      #players_matches-fields
        = link_to "Add Team 1 Player", '#team1Modal', role: "button", data: { toggle: "modal" }
        = render 'player_stat_fields', modal_id: 'team1Modal', representative: @match.player_stats.build(team_id: @match.team_1.id), team: @match.team_1

    #team_2_players
      %h4
        Team 2 #{@match.team_2.name}
        - if @match.winner.eql?(@match.team_2)
          (W)

      = render 'players_stats', player_stats: @team_2_player_stats

      - @team_2_player_stats.each do |player_stat|
        = render 'player_stat_fields', modal_id: "edit#{player_stat.id}", representative: player_stat, team: @match.team_2

      #players_matches-fields
        = link_to "Add Team 2 Player", '#team2Modal', role: "button", data: { toggle: "modal" }
        = render 'player_stat_fields', modal_id: 'team2Modal', representative: @match.player_stats.build(team_id: @match.team_2.id), team: @match.team_2

