.row-fluid
  .span12
    .content
      .actions
        = link_to "Create Match", new_match_path, class: 'btn btn-primary'

      .something
        %table.table
          %tr
            %th Match Name
            %th Teams
            %th Duration
            %th Actions
          - @matches.each do |match|
            %tr
              %td= match.name
              %td
                %strong #{match.team_1.name}
                - if match.winner == match.team_1
                  (W)
                vs
                %strong #{match.team_2.name}
                - if match.winner == match.team_2
                  (W)
              %td= display_duration(match.duration.to_i)

              %td
                = link_to "Edit Match", edit_match_path(match), class: 'btn btn-default'
                = link_to "Edit Match Stats", edit_stats_match_path(match), class: 'btn btn-default'


