.row-fluid
  .span10
    .row-fluid
      .content
        = link_to "Create Match", new_match_path

        %ul
          - @matches.each do |match|
            %li
              #{match.name}
              (#{match.team_1.name} vs #{match.team_2.name})
              = link_to "Edit", add_players_match_path(match)

