.row-fluid
  .span12
    .content
      .actions
        = link_to "Create Match", new_match_path, class: 'btn btn-primary'

      .something
        %table.table
          %tr
            %th Match Name
            %th Match up
            %th Actions
          - @matches.each do |match|
            %tr
              %td= match.name
              %td
                %strong #{match.team_1.name}
                vs
                %strong #{match.team_2.name}
              %td= link_to "Edit", add_players_match_path(match)

